<nav class="navbar row justify-content-between" role="navigation"> 
  <div class="col-md-1 navbar-brand logo text-center" routerLink="/about">
    <img src="./assets/Images/MClogo.png" alt="MC Logo" style="height: 70px;">
  </div>
  <div class="col-md-4">
    <ul class="nav navbar links">
      <li routerLinkActive="active"> 
        <a routerLink="/about">About</a>
      </li>
      <li routerLinkActive="active"> 
        <a routerLink="/projects">Projects</a>
      </li>
      <li>
        <a href="./assets/Resume/FrontendResume.pdf" target="_blank">Resume</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>