<nav class="navbar row" role="navigation">
  <div class="navbar-brand logo text-center" routerLink="/about">
    <img src="./assets/Images/MClogo.png" alt="MC Logo" style="height: 70px;">
  </div>
  <mat-sidenav-container class="d-block d-sm-none">
    <mat-sidenav-content>
      <button class="btn btn-side-nav" type="button" (click)=alertSideNav()>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class=" d-none d-sm-block">
    <ul class="nav navbar links">
      <li routerLinkActive="active">
        <a routerLink="/about">About</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/projects">Projects</a>
      </li>
      <li>
        <a href="./assets/Resume/CypressResume2021.pdf" target="_blank">Resume</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
