<section class="contact-page">
  <ul class="row logo-img">
    <li class="col text-center">
      <a href="https://github.com/maplantz89" target="_blank">
        <img src="../../assets/Images/GitHub.jpg" class="icon img-responsive">
        <hr>
        GitHub
      </a>
    </li>
    <li class="col text-center">
      <a href="mailto:maplantz89@gmail.com" target="_blank">
        <img src="../../assets/Images/Email.png" class="icon img-responsive">
        <hr>
        Email
      </a>
    </li>
    <li class="col text-center">
      <a href="https://www.linkedin.com/in/martha-plantz/" target="_blank">
        <img src="../../assets/Images/LinkedIn.jpg" class="icon img-responsive">
        <hr>
        LinkedIn
      </a>
    </li>
  </ul>
</section>
