section.contact-page {
  padding-top: 80px;
  ul.logo-img {
    list-style: none;
    margin: auto;
    padding-left: 0px;
    li {
      display: inline;
      .icon{
        max-height: 200px; 
        border-radius: 50px;
      }
    }
  }
}
