<app-header></app-header>
<mat-sidenav [fixedInViewport]="true" mode="over" #sidenav position="end">
  <div>
    <button class="btn btn-secondary close-btn btn-side-nav" type="button" (click)=alertSideNav()>X</button>
    <ul class="nav-list">
      <li routerLinkActive="active">
        <a routerLink="/about">About</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/projects">Projects</a>
      </li>
      <li>
        <a href="./assets/Resume/FrontendResume.pdf" target="_blank">Resume</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</mat-sidenav>
<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
