mat-sidenav {
  z-index: 999;
  width: 45%;
  background-color: white;

  ul {
    list-style: none;
    clear: right;
    a{
      color: rgb(106, 105, 105);
    }
    li{
      padding: 10px; 
    }
    li.active {
      a {
        color: #74D9C2;
      }
    }
  }

  button.close-btn {
    float: right;
    background-color: white;
    color: rgb(106, 105, 105);
    border: none;
    margin-bottom: 20px; 
  }
}
