<a class="row project-item" href="{{project.demoLink}}" target="_blank" [ngClass]="{'disabled': !project.ready}">
  <div class="col-5">
    <div class="card container">
      <div class="card-body row">
        <div class="col">
          <a style="cursor: pointer">
            <h2 class="card-title">{{project.name}}</h2>
            <p class="card-subtitle mb-2 text-muted stack">{{project.stack}}</p>
            <p class="card-text">{{project.description}}</p>
          </a>
          <button *ngIf='project.caseStudy' class="btn" type="button">Case Study</button>
          <button *ngIf='!project.caseStudy' class="btn" type="button">Live Demo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <a style="cursor: pointer">
      <img *ngFor="let imgPath of project.imagePaths" [src]="imgPath" alt="{{project.name}}" class="img-responsive"
        style="max-height: 250px;">
    </a>
  </div>
</a>