.project-item {
  margin: 25px auto;

  .card {
    -webkit-box-shadow: 4px 11px 34px -32px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 11px 34px -32px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 11px 34px -32px rgba(0, 0, 0, 0.75);

    h2 {
      color: #5F6C9B;
    }

    p {
      color: rgb(106, 105, 105);
    }

    p.stack {
      font-size: .8em;
    }

    button {
      color: #74D9C2;
      margin-top: 15px;
      border: 1px solid #74D9C2;
    }

    button:hover {
      background-color: #74D9C2;
      color: white;
      transition: all 300ms;
    }
  }
}

.disabled {
  pointer-events: none;
}

@media screen and (max-device-width: 640px){
  .extra-info{
    display: none; 
  }
}