<section class="row about justify-content-between">
  <div class="col-md-5 elevator-pitch">
    <p>
      Hey there, my name is Martha Fields-Cypress!
      I am a full stack web developer who follows life by the quote
      “Do one thing that scares you every day” ~Eleanor Roosevelt.
      I have been going through cycles of proving to myself that
      I am capable of overcoming any task; receiving my Bachelors
      in Mathematics, leading a team of mathematics teachers as a
      new teacher, developing a love of indoor bouldering despite
      my fear of heights, earning my Masters in Education in my
      first three years teaching.
    </p>
    <p>
      I fell instantly in love with programming when seeing assignments
      come to life. I was amazed that I was able to create simple programs
      from nothing! I am ready for more challenges that push me to continue
      growing and doing something that scares me every day. I would love to
      talk more if you have any questions!
    </p>
  </div>
  <div class="col-md-6">
    <img class="pic-of-me" src="../../assets/Images/AllOfMe.png" alt="Image of Martha Plantz">
  </div>
</section>
