section.about {
  .elevator-pitch {
    padding-top: 40px;

    p {
      color: rgb(106, 105, 105);
    }
  }

  .pic-of-me {
    max-height: 500px;
    border-radius: 50px;
  }
}


@media screen and (max-device-width: 640px){
  section.about {
    .elevator-pitch {
      padding: 10px 40px;
    }
    .collage{ 
      padding: 10px 40px;
    }
  }
}