<section class="row about justify-content-between">
  <div class="col-md-5 elevator-pitch">
    <p>
      Welcome to my portfolio, my name is Martha Fields-Cypress. I am a career changer excited to start down my new
      career path. For three years, I was a high school math teacher and gained a diverse set of skills ranging from
      problem-solving, empathy, collaboration, organization and leadership skills. Most recently I have completed a
      five-month full-stack engineering program as well as continuing to research and learn about user experience and
      overall design principles.
    </p>
    <p>
      Ever since I can remember I have been fascinated by the differences in how people think, wanting to find solutions
      to a myriad of problems. This has led me down a career path centered around people, first being a teacher and now
      working to create products that people use every day more accessible and effective. I am eager to join a team that
      understands and values the importance of collaboration and always strives to improve.
    </p>
  </div>
  <div class="col-md-6 extra-info">
    <img class="pic-of-me" src="./assets/Images/AllOfMe.png" alt="Image of Martha Plantz">
  </div>
</section>
