<section class="row about justify-content-between">
  <div class="col-md-5 elevator-pitch">
    <p>
      Welcome to my portfolio, my name is Martha Fields-Cypress. I’m a data-focused problem solver with a background in mathematics, education, and technology. I enjoy analyzing
      information, finding inconsistencies, and improving processes. Payroll combines my strengths in numbers, systems,
      accuracy, and helping people.
    </p>
  </div>
  <div class="col-md-6 collage">
    <img class="pic-of-me img-fluid" src="./assets/Images/AllOfMe.png" alt="Image of Martha Plantz">
  </div>
</section>
